body a{
    text-decoration: none;
    color: #715274;
}
body i{
    color:  #551E24;
}
#hr{
    border: none;
    border-top: 3px solid #551E24;
}
body a:hover{
    background: #551E24;
    color: black;
}
.top-header{
    /* box-shadow: 2px 2px 15px red; */
}
.w3-bar-item, .w3-button{
    text-transform: uppercase;
    border-right: 1px solid #551E24;
    padding-block: 0;
}
.banner{
    background:no-repeat center / cover url("../img/souriante-jeune-femme-d-affaires-tapant-sur-un-ordinateur-portable-au-bureau.jpg"),
    linear-gradient(to right, rgba(0, 0, 139, 0.349));
    background-blend-mode: darken;
    padding: 180px 100px;
    height: 600px;
}