body {
    background-color: rgb(36, 35, 35);
    font-family: Arial, Helvetica, sans-serif;
}
.formulaire {
    border: 2px solid green;
     margin-left: 200px;
      margin-top: 30px;
    margin-bottom: 30px;
    width: 40%;
}


.contacts {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 200px;
    margin-right: 200px;
    width: 20%;
    padding: 100px;
    background-color:  rgb(69, 67, 67);
    text-align: center;
}

section {
    display: flex;
    flex-wrap: wrap;
}
footer {
    background-color: rgb(51, 49, 49);
    font-size: 20px;
    color: white;
    height: 100px;
    text-align: center;

}
